tests/fish-eye-wadl.xml

<?xml version="1.0" encoding="UTF-8"?>
<ns2:application xmlns:ns2="http://wadl.dev.java.net/2009/02"><ns2:doc
        jersey:generatedBy="Jersey: 1.19 02/11/2015 03:25 AM"
        xmlns:jersey="http://jersey.java.net/"/><ns2:doc xml:lang="en"
                                                         title="FishEye REST API">
    This is the reference section of the FishEye REST API.
</ns2:doc><ns2:doc
        xml:lang="en">
    For information about FishEye Plugin Development, visit the
    <a
            href="https://developer.atlassian.com/display/FECRUDEV/">Development Hub</a>.
</ns2:doc><ns2:doc
        xml:lang="en">
    This documentation was automatically generated from the <a
        href="fisheye.wadl">WADL</a>.
</ns2:doc><ns2:grammars/><ns2:resources
        base="http://host:8080/context/"><ns2:resource
        path="/rest-service-fe/changeset-v1"><ns2:doc>Provides an API to get a list of changesets from a repository.</ns2:doc><ns2:resource
        path="listChangesets"><ns2:method name="GET"
                                          id="getChangesetsForText"><ns2:doc>List of changesets from a repository.</ns2:doc><ns2:request><ns2:param
        type="xs:string" style="query" name="rep"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the key of the repository</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="query" name="path"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>repository path</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="query"
        name="committer"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>ID of the committer</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="query"
        name="comment"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>comment to match</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="query"
        name="p4JobFixed"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>Perforce option to select the changesets marked as fixing</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="query" name="expand"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>expand query parameter to specify the maximum number of results</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="query"
        name="beforeCsid"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>parent of the changesets</ns2:doc></ns2:param></ns2:request><ns2:response
        status="200"><ns2:doc>list of changesets matching the criteria</ns2:doc><ns2:representation
        mediaType="application/xml"
        element="results"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;results&gt;
    &lt;changesets&gt;
    &lt;changeset&gt;
    &lt;repositoryName&gt;repo1&lt;/repositoryName&gt;
    &lt;csid&gt;csid1&lt;/csid&gt;
    &lt;date&gt;2017-11-27T14:12:31.231Z&lt;/date&gt;
    &lt;author&gt;author1&lt;/author&gt;
    &lt;branch&gt;branch1&lt;/branch&gt;
    &lt;comment&gt;merge&lt;/comment&gt;
    &lt;p4JobIds&gt;p4job1&lt;/p4JobIds&gt;
    &lt;p4JobIds&gt;p4job2&lt;/p4JobIds&gt;
    &lt;revisions size="1"&gt;
    &lt;revision totalLines="10" fileRevisionState="ADDED" rev="rev123456" path="/path/to/file.txt" linesRemoved="2" linesAdded="2" date="2017-11-27T14:12:31.230Z" csid="csid" contentLink="contentLink" author="author1"&gt;
    &lt;ancestor&gt;ancestor1&lt;/ancestor&gt;
    &lt;ancestor&gt;ancestor2&lt;/ancestor&gt;
    &lt;comment&gt;merged&lt;/comment&gt;
    &lt;/revision&gt;
    &lt;/revisions&gt;
    &lt;reviews size="1"&gt;
    &lt;review&gt;
    &lt;metricsVersion&gt;0&lt;/metricsVersion&gt;
    &lt;permaId/&gt;
    &lt;/review&gt;
    &lt;/reviews&gt;
    &lt;/changeset&gt;
    &lt;/changesets&gt;
    &lt;/results&gt;
</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>list of changesets matching the criteria</ns2:doc></ns2:representation></ns2:response><ns2:response
        status="200"><ns2:doc>list of changesets matching the criteria</ns2:doc><ns2:representation
        mediaType="application/json"
        element="results"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>{
    "changesets" : {
    "changeset" : [ {
    "repositoryName" : "repo1",
    "csid" : "csid1",
    "date" : 1511791951231,
    "author" : "author1",
    "branch" : "branch1",
    "comment" : "merge",
    "p4JobIds" : [ "p4job1", "p4job2" ],
    "revisions" : {
    "size" : 1,
    "revision" : [ {
    "path" : "/path/to/file.txt",
    "rev" : "rev123456",
    "author" : "author1",
    "date" : 1511791951230,
    "totalLines" : 10,
    "linesAdded" : 2,
    "linesRemoved" : 2,
    "csid" : "csid",
    "comment" : "merged",
    "contentLink" : "contentLink",
    "ancestor" : [ "ancestor1", "ancestor2" ],
    "fileRevisionState" : "ADDED"
    } ]
    },
    "reviews" : {
    "size" : 1,
    "review" : [ {
    "permaId" : { },
    "metricsVersion" : 0
    } ]
    }
    } ]
    }
    }</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>list of changesets matching the criteria</ns2:doc></ns2:representation></ns2:response></ns2:method></ns2:resource></ns2:resource><ns2:resource
        path="/rest-service-fe/repositories-v1"><ns2:doc>Provides an API to list information about the repositories.</ns2:doc><ns2:method
        name="GET"
        id="getAllRepositories"><ns2:doc>List all the repositories.</ns2:doc><ns2:response
        status="200"><ns2:doc>a list of all the repositories</ns2:doc><ns2:representation
        mediaType="application/xml"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;repositoryList&gt;
    &lt;repository repositoryState="RUNNING" name="svn-repo" finishedFullSlurp="true" enabled="true" displayName="svn-repo-renamed"/&gt;
    &lt;repository repositoryState="STOPPED" name="hg-repo" finishedFullSlurp="true" enabled="false" displayName="hg-repo"/&gt;
    &lt;/repositoryList&gt;
</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>Sample list of repositories registered to a FishEye instance.</ns2:doc></ns2:representation></ns2:response><ns2:response
        status="200"><ns2:doc>a list of all the repositories</ns2:doc><ns2:representation
        mediaType="application/json"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>{
    "repository" : [ {
    "name" : "svn-repo",
    "displayName" : "svn-repo-renamed",
    "enabled" : true,
    "finishedFullSlurp" : true,
    "url" : "com.sample.project",
    "path" : "project",
    "repositoryState" : "RUNNING"
    }, {
    "name" : "hg-repo",
    "displayName" : "hg-repo",
    "enabled" : false,
    "finishedFullSlurp" : true,
    "location" : "/home/user/project/hg",
    "repositoryState" : "STOPPED"
    } ]
    }</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>Sample list of repositories registered to a FishEye instance.</ns2:doc></ns2:representation></ns2:response></ns2:method><ns2:resource
        path="{repository}"><ns2:param type="xs:string"
                                       style="template" name="repository"
                                       xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the key of the repository</ns2:doc></ns2:param><ns2:method
        name="GET"
        id="getRepositoryInfo"><ns2:doc>Get the information about a repository.</ns2:doc><ns2:response
        status="200"><ns2:doc>information about the repository</ns2:doc><ns2:representation
        mediaType="application/xml"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;repository repositoryState="RUNNING" name="svn-repo" finishedFullSlurp="true" enabled="true" displayName="svn-repo-renamed"&gt;
    &lt;path&gt;project&lt;/path&gt;
    &lt;url&gt;com.sample.project&lt;/url&gt;
    &lt;/repository&gt;
</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>Sample information about a repository.</ns2:doc></ns2:representation></ns2:response><ns2:response
        status="200"><ns2:doc>information about the repository</ns2:doc><ns2:representation
        mediaType="application/json"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>{
    "name" : "svn-repo",
    "displayName" : "svn-repo-renamed",
    "enabled" : true,
    "finishedFullSlurp" : true,
    "url" : "com.sample.project",
    "path" : "project",
    "repositoryState" : "RUNNING"
    }</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>Sample information about a repository.</ns2:doc></ns2:representation></ns2:response></ns2:method></ns2:resource></ns2:resource><ns2:resource
        path="/rest-service-fe/revisionData-v1"><ns2:doc>Provides an API for getting information about changesets and filerevisions indexed by fisheye.</ns2:doc><ns2:resource
        path="pathHistory/{repository}"><ns2:param
        type="xs:string" style="template" name="repository"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the key of the repository to query.</ns2:doc></ns2:param><ns2:method
        name="GET"
        id="listPathHistory"><ns2:doc>Get a list of the file revisions for a specific path.</ns2:doc><ns2:request><ns2:param
        type="xs:string" style="query" name="path"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the path to query.</ns2:doc></ns2:param></ns2:request><ns2:response
        status="200"><ns2:doc>a list of the filerevisions of this path.</ns2:doc><ns2:representation
        mediaType="application/xml"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;fileRevisionList&gt;
    &lt;fileRevision totalLines="30" fileRevisionState="ADDED" rev="1" path="trunk/readme.txt" linesRemoved="0" linesAdded="30" date="2017-11-27T14:12:31.329Z" csid="MAIN:peter:2010000" contentLink="" author="peter"&gt;
    &lt;comment&gt;added readme&lt;/comment&gt;
    &lt;/fileRevision&gt;
    &lt;fileRevision totalLines="42" fileRevisionState="CHANGED" rev="2" path="trunk/readme.txt" linesRemoved="0" linesAdded="12" date="2017-11-27T14:12:31.329Z" csid="MAIN:douglas:2010042" contentLink="" author="douglas"&gt;
    &lt;ancestor&gt;1&lt;/ancestor&gt;
    &lt;comment&gt;first revision&lt;/comment&gt;
    &lt;/fileRevision&gt;
    &lt;fileRevision totalLines="451" fileRevisionState="CHANGED" rev="3" path="trunk/readme.txt" linesRemoved="0" linesAdded="409" date="2017-11-27T14:12:31.329Z" csid="MAIN:ray:2010451" contentLink="" author="ray"&gt;
    &lt;ancestor&gt;2&lt;/ancestor&gt;
    &lt;comment&gt;second revision&lt;/comment&gt;
    &lt;/fileRevision&gt;
    &lt;/fileRevisionList&gt;
</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>A list of the filerevisions of a path.</ns2:doc></ns2:representation></ns2:response><ns2:response
        status="200"><ns2:doc>a list of the filerevisions of this path.</ns2:doc><ns2:representation
        mediaType="application/json"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>{
    "fileRevision" : [ {
    "path" : "trunk/readme.txt",
    "rev" : "1",
    "author" : "peter",
    "date" : 1511791951329,
    "totalLines" : 30,
    "linesAdded" : 30,
    "linesRemoved" : 0,
    "csid" : "MAIN:peter:2010000",
    "comment" : "added readme",
    "contentLink" : "",
    "ancestor" : [ ],
    "fileRevisionState" : "ADDED"
    }, {
    "path" : "trunk/readme.txt",
    "rev" : "2",
    "author" : "douglas",
    "date" : 1511791951329,
    "totalLines" : 42,
    "linesAdded" : 12,
    "linesRemoved" : 0,
    "csid" : "MAIN:douglas:2010042",
    "comment" : "first revision",
    "contentLink" : "",
    "ancestor" : [ "1" ],
    "fileRevisionState" : "CHANGED"
    }, {
    "path" : "trunk/readme.txt",
    "rev" : "3",
    "author" : "ray",
    "date" : 1511791951329,
    "totalLines" : 451,
    "linesAdded" : 409,
    "linesRemoved" : 0,
    "csid" : "MAIN:ray:2010451",
    "comment" : "second revision",
    "contentLink" : "",
    "ancestor" : [ "2" ],
    "fileRevisionState" : "CHANGED"
    } ]
    }</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>A list of the filerevisions of a path.</ns2:doc></ns2:representation></ns2:response></ns2:method></ns2:resource><ns2:resource
        path="revisionTags/{repository}"><ns2:param
        type="xs:string" style="template" name="repository"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the key of the repository to query.</ns2:doc></ns2:param><ns2:method
        name="GET"
        id="listTagsForRevision"><ns2:request><ns2:param
        type="xs:string" style="query" name="path"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the path of the filerevision, with respect to the fisheye repository root.</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="query"
        name="revision"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the id of the filerevision to retrieve.</ns2:doc></ns2:param></ns2:request><ns2:response
        status="200"><ns2:doc>a list of tags associated with this revision.</ns2:doc><ns2:representation
        mediaType="application/xml"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;tagList&gt;
    &lt;tag&gt;TAG1&lt;/tag&gt;
    &lt;tag&gt;TAG2&lt;/tag&gt;
    &lt;tag&gt;TAG3&lt;/tag&gt;
    &lt;/tagList&gt;
</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>A list of tags associated with this revision.</ns2:doc></ns2:representation></ns2:response><ns2:response
        status="200"><ns2:doc>a list of tags associated with this revision.</ns2:doc><ns2:representation
        mediaType="application/json"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>{
    "tag" : [ "TAG1", "TAG2", "TAG3" ]
    }</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>A list of tags associated with this revision.</ns2:doc></ns2:representation></ns2:response></ns2:method></ns2:resource><ns2:resource
        path="pathList/{repository}"><ns2:param
        type="xs:string" style="template" name="repository"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the key of the repository to query.</ns2:doc></ns2:param><ns2:method
        name="GET"
        id="getPathList"><ns2:doc>Get a list of information about files and directories in a path.</ns2:doc><ns2:request><ns2:param
        type="xs:string" style="query" name="path"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the path to query, with respect to the fisheye repository root.</ns2:doc></ns2:param></ns2:request><ns2:response
        status="200"><ns2:doc>a list information about files and directories in the path.</ns2:doc><ns2:representation
        mediaType="application/xml"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;pathList&gt;
    &lt;pathInfo name="branches" headDeleted="false" dir="true"/&gt;
    &lt;pathInfo name="tags" headDeleted="false" dir="true"/&gt;
    &lt;pathInfo name="trunk" headDeleted="false" dir="true"/&gt;
    &lt;/pathList&gt;
</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>A list of information about files and directories in the path.</ns2:doc></ns2:representation></ns2:response><ns2:response
        status="200"><ns2:doc>a list information about files and directories in the path.</ns2:doc><ns2:representation
        mediaType="application/json"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>{
    "pathInfo" : [ {
    "name" : "branches",
    "dir" : true,
    "headDeleted" : false
    }, {
    "name" : "tags",
    "dir" : true,
    "headDeleted" : false
    }, {
    "name" : "trunk",
    "dir" : true,
    "headDeleted" : false
    } ]
    }</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>A list of information about files and directories in the path.</ns2:doc></ns2:representation></ns2:response></ns2:method></ns2:resource><ns2:resource
        path="revisionInfo/{repository}"><ns2:param
        type="xs:string" style="template" name="repository"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the key of the repository to query.</ns2:doc></ns2:param><ns2:method
        name="GET"
        id="getRevisionInfo"><ns2:request><ns2:param
        type="xs:string" style="query" name="path"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the path of the filerevision, with respect to the fisheye repository root.</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="query"
        name="revision"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the id of the filerevision to retrieve.</ns2:doc></ns2:param></ns2:request><ns2:response
        status="200"><ns2:doc>infomation about the specified filerevision.</ns2:doc><ns2:representation
        mediaType="application/xml"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;fileRevision totalLines="451" fileRevisionState="CHANGED" rev="3" path="trunk/readme.txt" linesRemoved="0" linesAdded="409" date="2017-11-27T14:12:31.329Z" csid="MAIN:ray:2010451" contentLink="" author="ray"&gt;
    &lt;ancestor&gt;2&lt;/ancestor&gt;
    &lt;comment&gt;second revision&lt;/comment&gt;
    &lt;/fileRevision&gt;
</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>Information about the specified filerevision.</ns2:doc></ns2:representation></ns2:response><ns2:response
        status="200"><ns2:doc>infomation about the specified filerevision.</ns2:doc><ns2:representation
        mediaType="application/json"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>{
    "path" : "trunk/readme.txt",
    "rev" : "3",
    "author" : "ray",
    "date" : 1511791951329,
    "totalLines" : 451,
    "linesAdded" : 409,
    "linesRemoved" : 0,
    "csid" : "MAIN:ray:2010451",
    "comment" : "second revision",
    "contentLink" : "",
    "ancestor" : [ "2" ],
    "fileRevisionState" : "CHANGED"
    }</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>Information about the specified filerevision.</ns2:doc></ns2:representation></ns2:response></ns2:method></ns2:resource><ns2:resource
        path="changesetList/{repository}"><ns2:param
        type="xs:string" style="template" name="repository"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the key of the repository to query.</ns2:doc></ns2:param><ns2:method
        name="GET"
        id="listChangesets"><ns2:doc>Get a list of changesets on a repository.</ns2:doc><ns2:request><ns2:param
        type="xs:string" style="query" name="path"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>restrict the changesets to those in this path, should be "/" to look at the whole repository.</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="query" name="start"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>only return changesets after this date.</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="query" name="end"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>only return changesets before this date.</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="query"
        name="maxReturn"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the maximum number of changesets to return.</ns2:doc></ns2:param></ns2:request><ns2:response
        status="200"><ns2:doc>the list of changeset ids, and the value of maxReturn (the limit to the number of changesets to return).</ns2:doc><ns2:representation
        mediaType="application/xml"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;changesetIdList resultsTruncated="false"&gt;
    &lt;csid&gt;MAIN:peter:20100101000000&lt;/csid&gt;
    &lt;csid&gt;MAIN:douglas:20100101000042&lt;/csid&gt;
    &lt;csid&gt;MAIN:ray:20100101000451&lt;/csid&gt;
    &lt;/changesetIdList&gt;
</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>A list of changesets on a repository.</ns2:doc></ns2:representation></ns2:response><ns2:response
        status="200"><ns2:doc>the list of changeset ids, and the value of maxReturn (the limit to the number of changesets to return).</ns2:doc><ns2:representation
        mediaType="application/json"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>{
    "resultsTruncated" : false,
    "csid" : [ "MAIN:peter:20100101000000", "MAIN:douglas:20100101000042", "MAIN:ray:20100101000451" ]
    }</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>A list of changesets on a repository.</ns2:doc></ns2:representation></ns2:response></ns2:method></ns2:resource><ns2:resource
        path="changeset/{repository}/{csid}"><ns2:param
        type="xs:string" style="template" name="csid"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the ChangesetID of the changeset to return.</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="template" name="repository"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the key of the repository to query.</ns2:doc></ns2:param><ns2:method
        name="GET" id="getChangeset"><ns2:response
        status="200"><ns2:doc>the changeset specified by csid.</ns2:doc><ns2:representation
        mediaType="application/xml"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;changeset repositoryName="repositoryName" position="0" displayId="changeset_display_id" date="2017-11-27T14:12:31.330Z" csid="changeset_id" branch="branch" author="author"&gt;
    &lt;branches&gt;
    &lt;branch&gt;branch&lt;/branch&gt;
    &lt;/branches&gt;
    &lt;children&gt;
    &lt;child&gt;child2&lt;/child&gt;
    &lt;child&gt;child1&lt;/child&gt;
    &lt;/children&gt;
    &lt;comment&gt;comment&lt;/comment&gt;
    &lt;fileRevisionKey rev="revision_id" path="dir/path/path/"/&gt;
    &lt;fileRevisionKey rev="revision_id_2" path="dir2/path2/path2/"/&gt;
    &lt;p4JobIds&gt;
    &lt;p4JobId&gt;job1&lt;/p4JobId&gt;
    &lt;p4JobId&gt;job2&lt;/p4JobId&gt;
    &lt;p4JobId&gt;job3&lt;/p4JobId&gt;
    &lt;/p4JobIds&gt;
    &lt;parents&gt;
    &lt;parent&gt;parent&lt;/parent&gt;
    &lt;/parents&gt;
    &lt;tags&gt;
    &lt;tag&gt;tag1&lt;/tag&gt;
    &lt;tag&gt;tag2&lt;/tag&gt;
    &lt;/tags&gt;
    &lt;/changeset&gt;
</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>The changeset specified by csid.</ns2:doc></ns2:representation></ns2:response><ns2:response
        status="200"><ns2:doc>the changeset specified by csid.</ns2:doc><ns2:representation
        mediaType="application/json"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>{
    "repositoryName" : "repositoryName",
    "csid" : "changeset_id",
    "displayId" : "changeset_display_id",
    "position" : "0",
    "parents" : [ "parent" ],
    "children" : [ "child2", "child1" ],
    "date" : 1511791951330,
    "author" : "author",
    "branches" : [ "branch" ],
    "tags" : [ "tag1", "tag2" ],
    "comment" : "comment",
    "p4JobIds" : [ "job1", "job2", "job3" ],
    "branch" : "branch",
    "fileRevisionKey" : [ {
    "path" : "dir/path/path/",
    "rev" : "revision_id"
    }, {
    "path" : "dir2/path2/path2/",
    "rev" : "revision_id_2"
    } ]
    }</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>The changeset specified by csid.</ns2:doc></ns2:representation></ns2:response></ns2:method></ns2:resource></ns2:resource><ns2:resource
        path="/rest-service-fe/search-v1"><ns2:doc>Provides an API to execute FishEye queries against a repository.</ns2:doc><ns2:resource
        path="crossRepositoryQuery"><ns2:method name="GET"
                                                id="getCrossRepositoryQuery"><ns2:doc>Execute a query across repositories. By default, this will search all repositories.</ns2:doc><ns2:request><ns2:param
        type="xs:string" style="query" name="query"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>text to search for in commit message and p4 jobId. Must not be empty.</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="query"
        name="repository"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>restrict search to only these repositories (by their keys)</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="query" name="expand"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>expand query parameter to specify the maximum number of results. Format is changesets[n:m].revisions[n:m],reviews
    the default number of changesets returned is 30, the maximum returned is 100</ns2:doc></ns2:param></ns2:request><ns2:response
        status="200"><ns2:representation
        mediaType="application/xml"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;results&gt;
    &lt;changesets&gt;
    &lt;changeset&gt;
    &lt;repositoryName&gt;repo1&lt;/repositoryName&gt;
    &lt;csid&gt;csid1&lt;/csid&gt;
    &lt;date&gt;2017-11-27T14:12:31.231Z&lt;/date&gt;
    &lt;author&gt;author1&lt;/author&gt;
    &lt;branch&gt;branch1&lt;/branch&gt;
    &lt;comment&gt;merge&lt;/comment&gt;
    &lt;p4JobIds&gt;p4job1&lt;/p4JobIds&gt;
    &lt;p4JobIds&gt;p4job2&lt;/p4JobIds&gt;
    &lt;revisions size="1"&gt;
    &lt;revision totalLines="10" fileRevisionState="ADDED" rev="rev123456" path="/path/to/file.txt" linesRemoved="2" linesAdded="2" date="2017-11-27T14:12:31.230Z" csid="csid" contentLink="contentLink" author="author1"&gt;
    &lt;ancestor&gt;ancestor1&lt;/ancestor&gt;
    &lt;ancestor&gt;ancestor2&lt;/ancestor&gt;
    &lt;comment&gt;merged&lt;/comment&gt;
    &lt;/revision&gt;
    &lt;/revisions&gt;
    &lt;reviews size="1"&gt;
    &lt;review&gt;
    &lt;metricsVersion&gt;0&lt;/metricsVersion&gt;
    &lt;permaId/&gt;
    &lt;/review&gt;
    &lt;/reviews&gt;
    &lt;/changeset&gt;
    &lt;/changesets&gt;
    &lt;/results&gt;
</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>Sample result for a FishEye cross repository query.</ns2:doc></ns2:representation></ns2:response><ns2:response
        status="200"><ns2:representation
        mediaType="application/json"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>{
    "changesets" : {
    "changeset" : [ {
    "repositoryName" : "repo1",
    "csid" : "csid1",
    "date" : 1511791951231,
    "author" : "author1",
    "branch" : "branch1",
    "comment" : "merge",
    "p4JobIds" : [ "p4job1", "p4job2" ],
    "revisions" : {
    "size" : 1,
    "revision" : [ {
    "path" : "/path/to/file.txt",
    "rev" : "rev123456",
    "author" : "author1",
    "date" : 1511791951230,
    "totalLines" : 10,
    "linesAdded" : 2,
    "linesRemoved" : 2,
    "csid" : "csid",
    "comment" : "merged",
    "contentLink" : "contentLink",
    "ancestor" : [ "ancestor1", "ancestor2" ],
    "fileRevisionState" : "ADDED"
    } ]
    },
    "reviews" : {
    "size" : 1,
    "review" : [ {
    "permaId" : { },
    "metricsVersion" : 0
    } ]
    }
    } ]
    }
    }</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>Sample result for a FishEye cross repository query.</ns2:doc></ns2:representation></ns2:response></ns2:method></ns2:resource><ns2:resource
        path="queryAsRows/{repository}"><ns2:param
        type="xs:string" style="template" name="repository"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the key of the repository</ns2:doc></ns2:param><ns2:method
        name="GET"
        id="getQueryAsRows"><ns2:doc>Execute a FishEye query (that contains a "return" statement) against a specific repository.

    <p><em>Note:</em> the maximum number of results will be limited to <tt>maxReturn</tt>
        or 3000, whichever is the smallest number.</p></ns2:doc><ns2:request><ns2:param
        type="xs:string" style="query" name="query"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>FishEye query to execute (which must contain a "return" statement)</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="query"
        name="maxReturn"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>maximum number of results (which can be left unspecified, but in that case,
    the maximum number of results will set to 3000 results)</ns2:doc></ns2:param></ns2:request><ns2:response
        status="200"><ns2:doc>result of the query, limited to {@code maxReturn} or 3000 results, whichever is the smallest number</ns2:doc><ns2:representation
        mediaType="application/xml"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;tabularQueryResult&gt;
    &lt;row&gt;
    &lt;item xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;test/readme.txt&lt;/item&gt;
    &lt;item xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;1.1&lt;/item&gt;
    &lt;item xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;peter&lt;/item&gt;
    &lt;/row&gt;
    &lt;row&gt;
    &lt;item xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;test/readme.txt&lt;/item&gt;
    &lt;item xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;1.2&lt;/item&gt;
    &lt;item xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;peter&lt;/item&gt;
    &lt;/row&gt;
    &lt;headings&gt;
    &lt;heading&gt;path&lt;/heading&gt;
    &lt;heading&gt;revision&lt;/heading&gt;
    &lt;heading&gt;author&lt;/heading&gt;
    &lt;/headings&gt;
    &lt;/tabularQueryResult&gt;
</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>Sample result for a FishEye query such as <code>select revisions from dir /test return path, revision, author</code>.</ns2:doc></ns2:representation></ns2:response><ns2:response
        status="200"><ns2:doc>result of the query, limited to {@code maxReturn} or 3000 results, whichever is the smallest number</ns2:doc><ns2:representation
        mediaType="application/json"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>{
    "headings" : [ "path", "revision", "author" ],
    "row" : [ {
    "item" : [ "test/readme.txt", "1.1", "peter" ]
    }, {
    "item" : [ "test/readme.txt", "1.2", "peter" ]
    } ]
    }</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>Sample result for a FishEye query such as <code>select revisions from dir /test return path, revision, author</code>.</ns2:doc></ns2:representation></ns2:response></ns2:method></ns2:resource><ns2:resource
        path="reviewsForChangeset/{repository}"><ns2:param
        type="xs:string" style="template" name="repository"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the key of the repository</ns2:doc></ns2:param><ns2:method
        name="POST"
        id="getReviewsForChangeset"><ns2:doc>Retrieve a list of reviews for a changeset in a given repository.</ns2:doc><ns2:request><ns2:representation
        mediaType="application/x-www-form-urlencoded"><ns2:param
        type="xs:string" style="query" name="cs"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the id of the changeset</ns2:doc></ns2:param></ns2:representation></ns2:request><ns2:response
        status="200"><ns2:doc>a serialised list of review data objects which represent the reviews for the given changeset</ns2:doc><ns2:representation
        mediaType="application/xml"
        element="reviewsForChangeset"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;reviewsForChangeset&gt;
    &lt;reviews&gt;
    &lt;review&gt;
    &lt;allowReviewersToJoin&gt;true&lt;/allowReviewersToJoin&gt;
    &lt;author&gt;
    &lt;avatarUrl&gt;&lt;/avatarUrl&gt;
    &lt;displayName&gt;A. D. Ministrator&lt;/displayName&gt;
    &lt;userName&gt;admin&lt;/userName&gt;
    &lt;/author&gt;
    &lt;createDate&gt;2017-11-27T14:12:31.219+0000&lt;/createDate&gt;
    &lt;creator&gt;
    &lt;avatarUrl&gt;&lt;/avatarUrl&gt;
    &lt;displayName&gt;A. D. Ministrator&lt;/displayName&gt;
    &lt;userName&gt;admin&lt;/userName&gt;
    &lt;/creator&gt;
    &lt;description&gt;Description&lt;/description&gt;
    &lt;jiraIssueKey&gt;SAMPLE-1&lt;/jiraIssueKey&gt;
    &lt;metricsVersion&gt;1&lt;/metricsVersion&gt;
    &lt;moderator&gt;
    &lt;avatarUrl&gt;&lt;/avatarUrl&gt;
    &lt;displayName&gt;A. D. Ministrator&lt;/displayName&gt;
    &lt;userName&gt;admin&lt;/userName&gt;
    &lt;/moderator&gt;
    &lt;name&gt;Sample Review&lt;/name&gt;
    &lt;permaId&gt;
    &lt;id&gt;CR-SAMPLE-1&lt;/id&gt;
    &lt;/permaId&gt;
    &lt;permaIdHistory&gt;CR-SAMPLE-1&lt;/permaIdHistory&gt;
    &lt;projectKey&gt;CR-SAMPLE&lt;/projectKey&gt;
    &lt;state&gt;Review&lt;/state&gt;
    &lt;summary&gt;Review summary&lt;/summary&gt;
    &lt;type&gt;REVIEW&lt;/type&gt;
    &lt;/review&gt;
    &lt;/reviews&gt;
    &lt;changesetId&gt;aa26d45eea2d259678b801c135cde82fe6518473&lt;/changesetId&gt;
    &lt;/reviewsForChangeset&gt;
</ns3:code></ns3:pre></ns3:p></ns2:doc></ns2:representation></ns2:response><ns2:response
        status="200"><ns2:doc>a serialised list of review data objects which represent the reviews for the given changeset</ns2:doc><ns2:representation
        mediaType="application/json"
        element="reviewsForChangeset"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>{
    "changesetId" : "aa26d45eea2d259678b801c135cde82fe6518473",
    "reviews" : [ {
    "projectKey" : "CR-SAMPLE",
    "name" : "Sample Review",
    "description" : "Description",
    "author" : {
    "userName" : "admin",
    "displayName" : "A. D. Ministrator",
    "avatarUrl" : ""
    },
    "moderator" : {
    "userName" : "admin",
    "displayName" : "A. D. Ministrator",
    "avatarUrl" : ""
    },
    "creator" : {
    "userName" : "admin",
    "displayName" : "A. D. Ministrator",
    "avatarUrl" : ""
    },
    "permaId" : {
    "id" : "CR-SAMPLE-1"
    },
    "permaIdHistory" : [ "CR-SAMPLE-1" ],
    "summary" : "Review summary",
    "state" : "Review",
    "type" : "REVIEW",
    "allowReviewersToJoin" : true,
    "metricsVersion" : 1,
    "createDate" : "2017-11-27T14:12:31.219+0000",
    "jiraIssueKey" : "SAMPLE-1"
    } ]
    }</ns3:code></ns3:pre></ns3:p></ns2:doc></ns2:representation></ns2:response></ns2:method></ns2:resource><ns2:resource
        path="reviewsForChangesets/{repository}"><ns2:param
        type="xs:string" style="template" name="repository"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the key of the repository</ns2:doc></ns2:param><ns2:method
        name="POST"
        id="getReviewsForChangesets"><ns2:doc>Retrieve a list of reviews for each given changeset in a given repository.</ns2:doc><ns2:request><ns2:representation
        mediaType="application/x-www-form-urlencoded"><ns2:param
        type="xs:string" style="query" name="cs"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>a list of changeset ids</ns2:doc></ns2:param></ns2:representation></ns2:request><ns2:response
        status="200"><ns2:doc>a serialised list of review data objects which represent the reviews for each changeset</ns2:doc><ns2:representation
        mediaType="application/xml"
        element="reviewsForChangesets"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;reviewsForChangesets&gt;
    &lt;changesets&gt;
    &lt;changeset&gt;
    &lt;reviews&gt;
    &lt;review&gt;
    &lt;allowReviewersToJoin&gt;true&lt;/allowReviewersToJoin&gt;
    &lt;author&gt;
    &lt;avatarUrl&gt;&lt;/avatarUrl&gt;
    &lt;displayName&gt;A. D. Ministrator&lt;/displayName&gt;
    &lt;userName&gt;admin&lt;/userName&gt;
    &lt;/author&gt;
    &lt;createDate&gt;2017-11-27T14:12:31.219+0000&lt;/createDate&gt;
    &lt;creator&gt;
    &lt;avatarUrl&gt;&lt;/avatarUrl&gt;
    &lt;displayName&gt;A. D. Ministrator&lt;/displayName&gt;
    &lt;userName&gt;admin&lt;/userName&gt;
    &lt;/creator&gt;
    &lt;description&gt;Description&lt;/description&gt;
    &lt;jiraIssueKey&gt;SAMPLE-1&lt;/jiraIssueKey&gt;
    &lt;metricsVersion&gt;1&lt;/metricsVersion&gt;
    &lt;moderator&gt;
    &lt;avatarUrl&gt;&lt;/avatarUrl&gt;
    &lt;displayName&gt;A. D. Ministrator&lt;/displayName&gt;
    &lt;userName&gt;admin&lt;/userName&gt;
    &lt;/moderator&gt;
    &lt;name&gt;Sample Review&lt;/name&gt;
    &lt;permaId&gt;
    &lt;id&gt;CR-SAMPLE-1&lt;/id&gt;
    &lt;/permaId&gt;
    &lt;permaIdHistory&gt;CR-SAMPLE-1&lt;/permaIdHistory&gt;
    &lt;projectKey&gt;CR-SAMPLE&lt;/projectKey&gt;
    &lt;state&gt;Review&lt;/state&gt;
    &lt;summary&gt;Review summary&lt;/summary&gt;
    &lt;type&gt;REVIEW&lt;/type&gt;
    &lt;/review&gt;
    &lt;/reviews&gt;
    &lt;changesetId&gt;aa26d45eea2d259678b801c135cde82fe6518473&lt;/changesetId&gt;
    &lt;/changeset&gt;
    &lt;changeset&gt;
    &lt;reviews&gt;
    &lt;review&gt;
    &lt;allowReviewersToJoin&gt;true&lt;/allowReviewersToJoin&gt;
    &lt;author&gt;
    &lt;avatarUrl&gt;&lt;/avatarUrl&gt;
    &lt;displayName&gt;A. D. Ministrator&lt;/displayName&gt;
    &lt;userName&gt;admin&lt;/userName&gt;
    &lt;/author&gt;
    &lt;createDate&gt;2017-11-27T14:12:31.219+0000&lt;/createDate&gt;
    &lt;creator&gt;
    &lt;avatarUrl&gt;&lt;/avatarUrl&gt;
    &lt;displayName&gt;A. D. Ministrator&lt;/displayName&gt;
    &lt;userName&gt;admin&lt;/userName&gt;
    &lt;/creator&gt;
    &lt;description&gt;Description&lt;/description&gt;
    &lt;jiraIssueKey&gt;SAMPLE-2&lt;/jiraIssueKey&gt;
    &lt;metricsVersion&gt;1&lt;/metricsVersion&gt;
    &lt;moderator&gt;
    &lt;avatarUrl&gt;&lt;/avatarUrl&gt;
    &lt;displayName&gt;A. D. Ministrator&lt;/displayName&gt;
    &lt;userName&gt;admin&lt;/userName&gt;
    &lt;/moderator&gt;
    &lt;name&gt;Another Review&lt;/name&gt;
    &lt;permaId&gt;
    &lt;id&gt;CR-SAMPLE-2&lt;/id&gt;
    &lt;/permaId&gt;
    &lt;permaIdHistory&gt;CR-SAMPLE-2&lt;/permaIdHistory&gt;
    &lt;projectKey&gt;CR-SAMPLE&lt;/projectKey&gt;
    &lt;state&gt;Review&lt;/state&gt;
    &lt;summary&gt;Review summary&lt;/summary&gt;
    &lt;type&gt;REVIEW&lt;/type&gt;
    &lt;/review&gt;
    &lt;/reviews&gt;
    &lt;changesetId&gt;16f1b72aed7e1ff0072a2b36aa579e4342a223e0&lt;/changesetId&gt;
    &lt;/changeset&gt;
    &lt;/changesets&gt;
    &lt;/reviewsForChangesets&gt;
</ns3:code></ns3:pre></ns3:p></ns2:doc></ns2:representation></ns2:response><ns2:response
        status="200"><ns2:doc>a serialised list of review data objects which represent the reviews for each changeset</ns2:doc><ns2:representation
        mediaType="application/json"
        element="reviewsForChangesets"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>{
    "changesets" : [ {
    "changesetId" : "aa26d45eea2d259678b801c135cde82fe6518473",
    "reviews" : [ {
    "projectKey" : "CR-SAMPLE",
    "name" : "Sample Review",
    "description" : "Description",
    "author" : {
    "userName" : "admin",
    "displayName" : "A. D. Ministrator",
    "avatarUrl" : ""
    },
    "moderator" : {
    "userName" : "admin",
    "displayName" : "A. D. Ministrator",
    "avatarUrl" : ""
    },
    "creator" : {
    "userName" : "admin",
    "displayName" : "A. D. Ministrator",
    "avatarUrl" : ""
    },
    "permaId" : {
    "id" : "CR-SAMPLE-1"
    },
    "permaIdHistory" : [ "CR-SAMPLE-1" ],
    "summary" : "Review summary",
    "state" : "Review",
    "type" : "REVIEW",
    "allowReviewersToJoin" : true,
    "metricsVersion" : 1,
    "createDate" : "2017-11-27T14:12:31.219+0000",
    "jiraIssueKey" : "SAMPLE-1"
    } ]
    }, {
    "changesetId" : "16f1b72aed7e1ff0072a2b36aa579e4342a223e0",
    "reviews" : [ {
    "projectKey" : "CR-SAMPLE",
    "name" : "Another Review",
    "description" : "Description",
    "author" : {
    "userName" : "admin",
    "displayName" : "A. D. Ministrator",
    "avatarUrl" : ""
    },
    "moderator" : {
    "userName" : "admin",
    "displayName" : "A. D. Ministrator",
    "avatarUrl" : ""
    },
    "creator" : {
    "userName" : "admin",
    "displayName" : "A. D. Ministrator",
    "avatarUrl" : ""
    },
    "permaId" : {
    "id" : "CR-SAMPLE-2"
    },
    "permaIdHistory" : [ "CR-SAMPLE-2" ],
    "summary" : "Review summary",
    "state" : "Review",
    "type" : "REVIEW",
    "allowReviewersToJoin" : true,
    "metricsVersion" : 1,
    "createDate" : "2017-11-27T14:12:31.219+0000",
    "jiraIssueKey" : "SAMPLE-2"
    } ]
    } ]
    }</ns3:code></ns3:pre></ns3:p></ns2:doc></ns2:representation></ns2:response></ns2:method></ns2:resource><ns2:resource
        path="query/{repository}"><ns2:param
        type="xs:string" style="template" name="repository"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the key of the repository</ns2:doc></ns2:param><ns2:method
        name="GET"
        id="getQuery"><ns2:doc>Execute a FishEye query against a specific repository.

    <p><em>Note:</em> the maximum number of results will be limited to <tt>maxReturn</tt>
        or 3000, whichever is the smallest number.</p></ns2:doc><ns2:request><ns2:param
        type="xs:string" style="query" name="query"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>FishEye query to execute</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="query"
        name="maxReturn"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>maximum number of results (which can be left unspecified, but in that case,
    the maximum number of results will set to 3000 results)</ns2:doc></ns2:param></ns2:request><ns2:response
        status="200"><ns2:doc>result of the query, limited to {@code maxReturn} or 3000 results, whichever is the smallest number</ns2:doc><ns2:representation
        mediaType="application/xml"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;fileRevisionKeyList&gt;
    &lt;fileRevisionKey rev="1.1" path="test/readme.txt"/&gt;
    &lt;fileRevisionKey rev="1.2" path="test/readme.txt"/&gt;
    &lt;fileRevisionKey rev="1.3" path="test/readme.txt"/&gt;
    &lt;/fileRevisionKeyList&gt;
</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>Sample result for a FishEye query such as <code>select revisions from dir /test</code>.</ns2:doc></ns2:representation></ns2:response><ns2:response
        status="200"><ns2:doc>result of the query, limited to {@code maxReturn} or 3000 results, whichever is the smallest number</ns2:doc><ns2:representation
        mediaType="application/json"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>{
    "fileRevisionKey" : [ {
    "path" : "test/readme.txt",
    "rev" : "1.1"
    }, {
    "path" : "test/readme.txt",
    "rev" : "1.2"
    }, {
    "path" : "test/readme.txt",
    "rev" : "1.3"
    } ]
    }</ns3:code></ns3:pre></ns3:p></ns2:doc><ns2:doc>Sample result for a FishEye query such as <code>select revisions from dir /test</code>.</ns2:doc></ns2:representation></ns2:response></ns2:method></ns2:resource></ns2:resource><ns2:resource
        path="/rest-service-fe/commit-graph-v1"><ns2:doc>Rest service for Commit Graph data.</ns2:doc><ns2:resource
        path="details/{repository:[^/]+}"><ns2:param
        type="xs:string" style="template" name="repository"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the key of the repository</ns2:doc></ns2:param><ns2:method
        name="POST"
        id="getChangesetDetails"><ns2:doc>Retrieves detailed information about a set of changesets in a repository, designed to be used with the FishEye commit graph</ns2:doc><ns2:request><ns2:representation
        mediaType="application/json"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:p>no data</ns3:p></ns3:p></ns2:doc></ns2:representation></ns2:request><ns2:response
        status="200"><ns2:doc>detailed changeset info</ns2:doc><ns2:representation
        mediaType="application/xml"
        element="detailedChangesets"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;detailedChangesets&gt;
    &lt;changesets&gt;
    &lt;changeset&gt;
    &lt;comment&gt;merge&lt;/comment&gt;
    &lt;csid&gt;csid1&lt;/csid&gt;
    &lt;date&gt;30 Jul 12&lt;/date&gt;
    &lt;user&gt;
    &lt;avatarUrl&gt;http://to/avatar&lt;/avatarUrl&gt;
    &lt;displayName&gt;Matt Smith&lt;/displayName&gt;
    &lt;userName&gt;matt&lt;/userName&gt;
    &lt;/user&gt;
    &lt;/changeset&gt;
    &lt;changeset&gt;
    &lt;comment&gt;added functionality&lt;/comment&gt;
    &lt;csid&gt;csid2&lt;/csid&gt;
    &lt;date&gt;30 Jul 12&lt;/date&gt;
    &lt;user&gt;
    &lt;avatarUrl&gt;http://to/avatar&lt;/avatarUrl&gt;
    &lt;displayName&gt;Matt Smith&lt;/displayName&gt;
    &lt;userName&gt;matt&lt;/userName&gt;
    &lt;/user&gt;
    &lt;/changeset&gt;
    &lt;/changesets&gt;
    &lt;/detailedChangesets&gt;
</ns3:code></ns3:pre></ns3:p></ns2:doc></ns2:representation></ns2:response><ns2:response
        status="200"><ns2:doc>detailed changeset info</ns2:doc><ns2:representation
        mediaType="application/json"
        element="detailedChangesets"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>{
    "changesets" : [ {
    "csid" : "csid1",
    "comment" : "merge",
    "date" : "30 Jul 12",
    "user" : {
    "userName" : "matt",
    "displayName" : "Matt Smith",
    "avatarUrl" : "http://to/avatar"
    }
    }, {
    "csid" : "csid2",
    "comment" : "added functionality",
    "date" : "30 Jul 12",
    "user" : {
    "userName" : "matt",
    "displayName" : "Matt Smith",
    "avatarUrl" : "http://to/avatar"
    }
    } ]
    }</ns3:code></ns3:pre></ns3:p></ns2:doc></ns2:representation></ns2:response></ns2:method></ns2:resource><ns2:resource
        path="slice/{repository:[^/]+}"><ns2:param
        type="xs:string" style="template" name="repository"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the key of the repository to search</ns2:doc></ns2:param><ns2:method
        name="GET"
        id="findSliceData"><ns2:doc>finds slice data the query</ns2:doc><ns2:request><ns2:param
        type="xs:string" style="query" name="branch"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the set of branches to search. If not specified, will search all branches</ns2:doc></ns2:param><ns2:param
        type="xs:string" style="query" name="id"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the id of the changeset which we are</ns2:doc></ns2:param><ns2:param
        default="around" type="xs:string"
        style="query" name="direction"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the direction to traverse. May be "before", "after" or "around"</ns2:doc></ns2:param><ns2:param
        default="50" type="xs:int" style="query"
        name="size"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"><ns2:doc>the number of changesets to return in the slice</ns2:doc></ns2:param></ns2:request><ns2:response
        status="200"><ns2:doc>rest response</ns2:doc><ns2:representation
        mediaType="application/xml"
        element="revisionGraphSliceData"><ns2:doc><ns3:p
        xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;sliceData&gt;
    &lt;revisions&gt;
    &lt;revision repositoryName="repo1" position="position" displayId="dislayId1" date="2017-11-27T14:12:31.398Z" csid="csid1" branch="branch3" author="author1"&gt;
    &lt;branches&gt;
    &lt;branch&gt;branch3&lt;/branch&gt;
    &lt;branch&gt;branch2&lt;/branch&gt;
    &lt;branch&gt;branch1&lt;/branch&gt;
    &lt;/branches&gt;
    &lt;children&gt;
    &lt;child&gt;child1&lt;/child&gt;
    &lt;/children&gt;
    &lt;comment&gt;comment1&lt;/comment&gt;
    &lt;fileRevisionKey rev="0001" path="/path/to/1"/&gt;
    &lt;p4JobIds&gt;
    &lt;p4JobId&gt;p4job1&lt;/p4JobId&gt;
    &lt;p4JobId&gt;p4job2&lt;/p4JobId&gt;
    &lt;/p4JobIds&gt;
    &lt;parents&gt;
    &lt;parent&gt;parent1&lt;/parent&gt;
    &lt;/parents&gt;
    &lt;tags&gt;
    &lt;tag&gt;tag1&lt;/tag&gt;
    &lt;tag&gt;tag2&lt;/tag&gt;
    &lt;tag&gt;tag3&lt;/tag&gt;
    &lt;/tags&gt;
    &lt;/revision&gt;
    &lt;/revisions&gt;
    &lt;sparseRevisions/&gt;
    &lt;/sliceData&gt;
</ns3:code></ns3:pre></ns3:p></ns2:doc></ns2:representation></ns2:response><ns2:response
        status="200"><ns2:doc>rest response</ns2:doc><ns2:representation
        mediaType="application/json"
        element="revisionGraphSliceData"><ns2:doc><ns3:p xmlns:ns3="http://www.w3.org/1999/xhtml"><ns3:h6>Example</ns3:h6><ns3:pre><ns3:code>{
    "revisions" : [ {
    "repositoryName" : "repo1",
    "csid" : "csid1",
    "displayId" : "dislayId1",
    "position" : "position",
    "parents" : [ "parent1" ],
    "children" : [ "child1" ],
    "date" : 1511791951398,
    "author" : "author1",
    "branches" : [ "branch3", "branch2", "branch1" ],
    "tags" : [ "tag1", "tag2", "tag3" ],
    "comment" : "comment1",
    "p4JobIds" : [ "p4job1", "p4job2" ],
    "branch" : "branch3",
    "fileRevisionKey" : [ {
    "path" : "/path/to/1",
    "rev" : "0001"
    } ]
    } ],
    "sparseRevisions" : [ ]
    }</ns3:code></ns3:pre></ns3:p></ns2:doc></ns2:representation></ns2:response></ns2:method></ns2:resource></ns2:resource></ns2:resources></ns2:application>
